<section id="contact" class="pfblock">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <div class="pfblock-header">
                    <h2 class="pfblock-title">Contact</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        <p class="text-center" id="cText" >Please contact with any questions, concerns, or just to say hi!</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
        
            <div class="col-sm-6 col-sm-offset-3">

                <form id="contact-form" role="form">
                    <div class="ajax-hidden">

                            <label class="sr-only" for="_replyto">Email</label>
                            <input class="form-control" type="email" name="_replyto" required placeholder="email@address.com">
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                            <textarea class="form-control" name="message" placeholder="Message" required rows="5"></textarea>
                        </div>
                    <button id="sendBtn" type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
                    
                </form>
            </div>
                <div id="submit-success" style= "display: none;">
                    Message received! I'll be in touch.
                </div>
                <div id="submit-errors" style= "display: none;">
                    It looks like there was an error submitting the form. Please try again later.
                </div>
            </div>

        </div>
     
</section>

<script>
    $("#contact-form").validate({
        submitHandler: function (form) {
            $.ajax({
                url: "//formspree.io/lulamcervantes@gmail.com",
                method: "POST",
                data: {
                    _replyto: $(form).find("input[name='_replyto']").val(),
                    message: $(form).find("textarea[name='message']").val()
                },
                dataType: "json",
                success: function() {
                $("#submit-success").fadeIn();
                $("#contact-form").fadeOut();
                $("#cText").fadeOut();
            },
            error: function() {
                $("#submit-errors").fadeIn();        
            }
            });
        }
    });
</script>
